<% provide :title, "honestlyy" %>

<h2 class="question"><%= @question.question %></h2>
<div id="timer" class="start"></div>
<div id="choices-outer">
  <div id="bar-background">
    <% @counts.each_with_index do |count, index| %>
      <div id="bar-<%= index %>" class="bar inactive" style="height: 0; transition-delay: <%= index*0.1 %>s">
        <p><%= count %></p>
      </div>
    <% end %>
  </div>
  <% @choices.each_with_index do |choice, index| %>
    <%= link_to choice, 'javascript:;',
        id: "choice-#{index}",
        class: "choice inactive",
        style: "margin-bottom: 0; transition: transform 0.25s, color 0.25s, margin-bottom 0.25s #{index*0.1}s;",
        href: choose_path(id: @question.id, choice: ("a"..."z").to_a[index]) %>
  <% end %>
</div>
<p id="scroll-down">&#x2303;</p>

<script>
var hideTimeout, redirectTimeout;
var counts = <%= @counts %>;
counts[0]--;
var total = counts.reduce(function(a, b) { return a + b; }, 0);
var heights = [0, 0, 0, 0];
var questionHeight = 70;
var updateHeights = function(choice) {
  total++;
  console.log(counts);
  counts[choice]++;
  console.log(counts);
  $("#bar-"+choice+" > p").html(counts[choice]);
  for(i = 0; i < counts.length; i++) {
    heights[i] = (counts[i]/total)*100;
    console.log(heights);
    biggestHeight = window.innerHeight - (questionHeight + 100)
    $("#choice-"+i).css("margin-bottom",  biggestHeight*(heights[i]/100)+50+"px");
    $("#bar-"+i).css("height", biggestHeight*(heights[i]/100)+50+"px");
  }
}

var finish = function() {
  $("#footer, #choices-outer, #scroll-down").removeClass("footer-show");
  $(".choice, #scroll-down").addClass("disabled");
  $(".bar, .choice").removeClass("inactive");
  var that = this;
  hideTimeout = setTimeout(function() {
    $("#content-outer").addClass("hidden");
  }, 2000);
  redirectTimeout = setTimeout(function() {
    window.location = "/random";
  }, 2500);
}

var windowResize = function() {
  questionHeight = $(".question").height();
  $("#timer").css("top", questionHeight + 20 + "px");
}

$(document).ready(function() {
  $(window).resize(function() {
    windowResize();
  });
  windowResize();
  $("#timer").stop();
  $("#content-outer").removeClass("hidden");
  $("#content-outer.question-content").ready(function() {
    $("#timer").animate({
      width: "100vw"
    }, 5000, 'linear', function() {finish();});
  });

  updateHeights(0);

  $("#scroll-down").click(function() {
    $("#footer, #choices-outer, #scroll-down").toggleClass("footer-show")
  });

  $("a").click(function() {
    $("*").removeClass("footer-show");
    clearTimeout(hideTimeout);
    clearTimeout(redirectTimeout);
    $("#timer").stop();
  });

  $(".choice").click(function(event) {
    $("#timer").stop();
    event.preventDefault();
    var choice = $(this).attr("id").substr(7);
    updateHeights(choice);
    $(this).addClass("selected");
    $(".choice, #scroll-down").addClass("disabled");
    $(".bar, .choice").removeClass("inactive");
    var that = this;
    hideTimeout = setTimeout(function() {
      $("#content-outer").addClass("hidden");
    }, 2000);
    redirectTimeout = setTimeout(function() {
      window.location = $(that).attr("href");
    }, 2500);
  });
});
</script>
