<h2 class="question"><%= @question.question %></h2>
<div id="choices-outer">
  <div id="bar-background">
    <% @counts.each_with_index do |count, index| %>
      <div id="bar-<%= index %>" class="bar inactive" style="height: 0">
        <p><%= count %></p>
      </div>
    <% end %>
  </div>
  <% @choices.each_with_index do |choice, index| %>
    <%= link_to choice, 'javascript:;',
        id: "choice-#{index}",
        class: "choice inactive",
        style: "margin-bottom: 0",
        href: choose_path(id: @question.id, choice: ("a"..."z").to_a[index]) %>
  <% end %>
</div>
<script>
var counts = <%= @counts %>;
var total = counts.reduce(function(a, b) { return a + b; }, 0);
var heights = [0, 0, 0, 0];
var updateHeights = function(choice) {
  total++;
  console.log(counts);
  counts[choice]++;
  console.log(counts);
  $("#bar-"+choice+" > p").html(counts[choice]);
  for(i = 0; i < counts.length; i++) {
    heights[i] = (counts[i]/total)*100;
    $("#choice-"+i).css("margin-bottom", (heights[i]*0.8 + 2)+"vh");
    $("#bar-"+i).css("height", (heights[i]*0.8 + 2)+"vh");
  }
}

$(document).ready(function() {
  $(".choice").click(function(event) {
    event.preventDefault();
    var choice = $(this).attr("id").substr(7);
    updateHeights(choice);
    $(this).addClass("selected");
    $(".choice").addClass("disabled");
    $(".bar, .choice").removeClass("inactive");
    var that = this;
    setTimeout(function() {
      window.location = $(that).attr("href");
    }, 2000)
  });
});
</script>
