<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= favicon_link_tag "favicon.ico" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet">
  </head>

  <body>
    <div id="content-outer" class="question-content hidden">
      <%= yield %>
    </div>
    <div id="footer" style="margin-top: 0">
      <%= link_to "home", root_path %>
      <%= link_to "faq", about_path %>
    </div>
  </body>
</html>
